# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection
MONGODB_URL=mongodb+srv://aigunalan03:evB7szQK5uajPE0M@cluster0.teyxap5.mongodb.net/chat_db?retryWrites=true&w=majority&appName=Cluster0

# JWT Configuration
JWT_SECRET=mysecretkey

# Cloudinary Configuration (for file uploads)
CLOUDINARY_CLOUD_NAME=dzlxafiwl
CLOUDINARY_API_KEY=215958688228649
CLOUDINARY_API_SECRET=oQq9N3xcRwVUaKyk8_-Z3N-PSIc
